body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: grey;
}
.gameWindow {
  position: relative;
  width: 1280px;
  height: 720px;
  background-color: black;
  border: 10px solid yellow;
}
.Board {
  width: 10%;
  height: 4%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90%;
  background-color: red;
}
.Ball {
  width: 1.5625%;
  aspect-ratio: 1/1;
  /*height: 2.778%;*/
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
  z-index: 100;
}

.Bricks {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 10%;
  width: 100%;
  height: 40%;
}
.Brick {
  width: 2.5%;
  height: 10%;
}
.PointsLives{
  
  color:white;
  width: 20%;
  position: absolute;
  top: 4%;
  left: 75%;
  z-index: 1000;
  font-size: xx-large;
}