body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: grey;
}
.gameWindow {
  position: relative;
  width: 1280px;
  height: 720px;
  background-color: black;
  border: 10px solid yellow;
  z-index: 1;
}

/*.Bricks {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 10%;
  width: 100%;
  height: 40%;
}*/
.PointsLives{
  
  color:white;
  width: 20%;
  position: absolute;
  top: 4%;
  left: 75%;
  z-index: 100;
  font-size: xx-large;
}
#gameOver{
  position: absolute;
  width: 40%;
  height: 80%;
  top: 10%;
  left: 30%;
  display:none;
  visibility: visible;
  background-color: black;
  color: white;
  border: 1px solid white;
  z-index: 1000;
  justify-content: center;
}
#gameOverh1{
  text-align: center;
}
#gameCanvas{
  width: 100%;
  height: 100%;
}